registry=http://18.205.244.49:8081/repository/npm-nexus-hosted/
//18.205.244.49:8081/repository/npm-nexus-hosted/:_authToken=YWRtaW46YWRtaW4=
//18.205.244.49:8081/repository/npm-nexus-hosted/:always-auth=true
allowRepublish=true
